{% extends 'base.html' %}

{% block title %}مساعدة{% endblock %}

{% block content %}
    <h1>مساعدة</h1>
    <p>هذا النظام يتيح لك إدارة العقارات والمستأجرين وعقود الإيجار بسهولة. يمكنك إضافة وتعديل العقارات، إضافة المستأجرين، إدارة عقود الإيجار، وتحميل المستندات المطلوبة لكل مستأجر.</p>
    <ul>
        <li>لإضافة عقار، انتقل إلى صفحة "إضافة عقار".</li>
        <li>لإدارة المستأجرين، يمكنك الذهاب إلى "قائمة المستأجرين".</li>
        <li>لإدارة عقود الإيجار، استخدم "قائمة عقود الإيجار".</li>
    </ul>
{% endblock %}
