{% extends "base.html" %}

{% block content %}قائمة العقارات{% endblock %}

{% block content %}
<h1>قائمة العقارات</h1>
<a href="{% url 'property_create' %}" class="btn btn-primary">إضافة عقار جديد</a>
<table class="table">
  <thead>
    <tr>
      <th>المالك</th>
      <th>العنوان</th>
      <th>السعر</th>
      <th>النوع</th>
      <th>الإجراءات</th>
    </tr>
  </thead>
  <tbody>
    {% for property in properties %}
    <tr>
      <td>{{ property.owner.name }}</td>
      <td>{{ property.address }}</td>
      <td>{{ property.price }}</td>
      <td>{{ property.type }}</td>
      <td>
        <a href="{% url 'property_update' property.pk %}" class="btn btn-warning">تعديل</a>
        <a href="{% url 'property_delete' property.pk %}" class="btn btn-danger">حذف</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}